.container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  margin: 0 auto;
}

.square {
  width: 60px;
  height: 60px;
  background-color: lightgray;
  border: 1px solid #000000;
  box-sizing: border-box;
  transition: background-color 0.2s;
}

.square:hover {
  background-color: darkgray;
}
